<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="description">
    <meta name="author" content="laurence foley">
    <!-- Vendor stylesheets -->
    <!-- <script src="https://use.fontawesome.com/e175f0cc50.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toast-css/1.1.0/grid.css" charset="utf-8"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <h2>Contact Form</h2>

    <form class="form u-border-radius" action="index.html" method="post">
      <div class="form__field">
        <label class="form__label" for="name">Name</label>
        <input id="name" class="form-input" type="text" name="" value="">
      </div>
      <div class="form__field">
        <label class="form__label" for="name">Email</label>
        <input id="name" class="form-input" type="text" name="" value="">
      </div>
      <div class="form__field">
        <label class="form__label" for="name">Message</label>
        <textarea class="form-textarea" name="name" rows="8"></textarea>
      </div>
      <div class="form__field">
        <input class="btn-primary u-full-width" type="submit" value="Submit">
      </div>
    </form>

  </body>
</html>
