$colors: (
  "red": #E74C3C,
  "green": #2ECC71,
  "blue": #1E88E5,
  "white": #fff,
  "black": #000,
  "gray": #808080,
  "brightgray": #373D49,
  "radical-red": #FF3366,
); // Color names taken from http://http://chir.ag/projects/name-that-color/

// -----------------------------
// Create a class for each color
// -----------------------------
//
// .color__red {
//   color: red;
// }
//
// .bg-color__blue {
//   background-color: blue;
// }
//
//
@each $color, $value in $colors {

  .color__#{$color} {
    color: $value;
  }

  .bg-color__#{$color} {
    background-color: $value;
  }

  @if $color != "white" {
    .color__#{$color}--light {
      color: lighten($value, 20%);
    }
    .bg-color#{$color}--light {
      background-color: lighten($value, 20%);
    }
  }

  @if $color != "black" {
    .color__#{$color}--dark {
      color: darken($value, 20%);
    }
    .bg-color#{$color}--dark {
      background-color: darken($value, 20%);
    }
  }

}
