.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
  // background: white;
}

.clearfix {
  /* IE-6 */
  *zoom: 1;
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.float-left {
  float:left;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.big-title {
  font-size: 3em;
  margin-bottom: 0;
}
